#alert-container
  position fixed
  top 20px
  left 0
  width 100%
  z-index 99999
  margin 0
  
  .alert
    transition all 300ms

  .fade
    transition all 300ms

  .fade-enter
    opacity 0
    transform translateY(-50px)

  .fade-leave-active
    opacity 0
    transform translateY(-50px)

  .fade-leave
    opacity 0
    transform translateY(-50px)
